*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    
}

#search-history{
    font-size: small 2px;
    color: grey;
    text-align: center;
    cursor: pointer;
}

#search-button{
    cursor: pointer;
    color: green; 
    display: block; 
    text-align: center;
    margin: 0 auto; 
}

#search-input{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.text-box {
    color: white;
    width: 100px;
    height: 100px;
    float: left;
    background-color: red;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0 10px red;
}

.channel-name{
    font-size: 20px;
}

.container {
    padding: 20px 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card-column {
    flex: 1 1 250px;
    margin: 10px;
    border-radius: 1rem;
}

.card-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 1rem;
    text-align: center;
    min-height: 300px;
    box-shadow: 0 0 10px;
}